<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Order</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Order Details</h2>
        <div style="padding-bottom: 20 px !important;">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Order Id:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${order.id}" >Order Id</p></div>
                </div>
                <div class="form-group">
	                <label class="col-sm-2 control-label">Code:</label>
	                <div class="col-sm-10">
	                    <input type="text" class="form-control" required="required" readonly="readonly" th:field="*{order.code}"/>
	                </div>
	            </div>
	            <div class="form-group">
	                <label class="col-sm-2 control-label">Client:</label>
	                <div class="col-sm-10">
						<select th:field="*{client}" required="required">
							<option value=""> -- </option>
							<option 
								th:each="c : ${clients}" th:value="${client}"
								th:selected="${c.id == order.client.id}"
								th:utext="${c.name}" />
						</select>
					</div>
	            </div>
	            
	            <div class="form-group">
	                <label class="col-sm-2 control-label">Client:</label>
	                <div class="col-sm-10">
						<select class="form-control" id="items" name="items" multiple="multiple">
						    <option th:each="item : ${products}"
						    		th:selected="${order.items.contains(item)}"
						            th:value="${item.id}"
						            th:text="${item.description}">Item name</option>
						</select>
					</div>
	            </div>
	            
	            <div class="jumbotron">
	            </div>
            </form>
    </div>
</div>

</body>
</html>